* {
  font-family: "General Sans";
}

/* Tablet and Below */
@media (max-width: 1024px) {
  #heading h1 {
    font-size: 12vw;
  }
  #heading #gap {
    margin-left: 100px;
  }
  .blocktext h5,
  #smallheading h5,
  #herofooter a {
    font-size: 2.5vw;
  }
  #textabout {
    width: 100%;
    padding: 0;
  }
  #about {
    flex-direction: column;
    padding: 10vw 5vw;
    padding-left: 5vw;
  }
  #about img {
    width: 200px;
  }
  #textabout p {
    font-size: 2.5vw;
  }
  #footerright,
  #footerleft {
    flex-direction: column;
    gap: 10px;
    text-align: center;
  }
  #footerright a {
    font-size: 3vw;
  }
}

/* Mobile (Below 768px) */
@media (max-width: 768px) {
  #heading h1 {
    font-size: 12vw;
    margin-left: 15px;
  }

  .blocktext h5,
  #smallheading h5,
  #herofooter a,
  #textabout p,
  #subscribe h5 {
    font-size: 3.5vw;
    text-align: left;
  }

  #about {
    flex-direction: column;
    padding: 5vw 7vw;
    gap: 40px;
  }

  #textabout {
    width: 100%;
  }

  #footerleft h5,
  #footerright a {
    font-size: 3vw;
  }

  #footerright {
    gap: 25px;
    flex-wrap: wrap;
  }

  .elem h1 {
    font-size: 10vw;
  }

  #nav a,
  #nav h4 {
    font-size: 4.5vw;
  }
}
